kind: apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: hotelapp
spec: 
  selector:
    app: backend
  type: ClusterIP
  ports:
    protocol: TCP
    port: 5001
    targetPort: 5001