apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: hotelapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hotelapp-backend
  template:
    metadata:
      labels:
        app: hotelapp-backend
    spec:
      containers:
      - name: hotelapp-backend
        image: vilasdevops/hotel-backend:latest
        ports:
        - containerPort: 5000
        env:
        - name: NODE_ENV
          value: deployment
        - name: MONGODB_URI
          valueFrom:
            secretKeyRef:
              name: hotelapp-secrets
              key: MONGO_URI
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: hotelapp-secrets
              key: jwt

