
kind: Deployment
apiVersion: apps/v1
metadata:
  name: mongodb-deployment
  namespace: hotelapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongodb
  template:
    metadata:
      name: mongodb-pod
      namespace: hotelapp
      labels: 
        app: mongodb
    spec:
      containers:
      - name: hotel-mongodb
        image: mongo:latest
        ports:
        - containerPort: 27017
        env:
        - name: MONGO_INITDB_ROOT_USERNAME
          valueFrom:
            secretKeyRef:
              name: hotelapp-secrets
              key: username
        - name: MONGO_INITDB_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: hotelapp-secrets
              key: password
      volumes:
      - name: mongo-data
        persistentVolumeClaim:
          claimName: mongodb-pvc